.question {
    height: 684px;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 112.23%);
  position: relative;
}
/* .question::after {
    content: "";
    display:  block;
    width: $width;
    left: $left;
    height: 4px;
    border-radius: 2px;
    background: $blue-color;
    position: absolute;
    top: calc(100% + 27px);
} */
.question--flex {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
}
.question__title {
    font-family: Alexandria;
font-weight: 400;
font-style: Regular;
font-size: 57.33px;
line-height: 94%;
letter-spacing: -7%;
text-align: center;

}
.question__title span {
    color: #D23166;;
}
.question__input {
width: 637px;
box-sizing: content-box;
height: 74px;
border-style: solid ;
border-radius: 100px;
border-width: 1px;
border-color: white ;
position: relative;
z-index: 1;
}
.question__field {
    width: 503px;
    height: inherit;
    padding: 30px 23.5px;
    font-family: Manrope;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: white;
}
.question__btn {
font-family: Roboto;
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: white;
    border-radius: inherit;
    background-color: #D23166;
    width: 134px;
    height: 74px;
    padding: 0;
    position: absolute;
    right: 0px;
    top: 0px;
}
.question--back-img {
position: absolute;
width: 1199.4334716796875px;
height: 794px;
left: 0;
top: 0;
z-index: 0;
}
